body {
    font-family: "segoe ui";
}

h1 {
    font-size: 25px;
}

input,
select {
    border: 1px solid #CCCCCC;
    padding: 7px;
    font-size: 14px;
}

input[type="submit"] {
    padding: 7px 15px;
    margin-left: 120px;
    cursor: pointer;
}

label {
    width: 120px;
    display: block;
    float: left;
}

.checkbox,
.radio {
    float: none;
    width: auto;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.row {
    margin-bottom: 5px;
    clear: both;
}

.options {
    float: left;
}

.echo {
    align-items: center;
}